/* DOG.CEO API INTERFACE
 * OAMK assignment
 *
 * Copyright Jori Hiltunen 2023 
 */

.local-search {
    height: 5em;
    overflow: hidden;
}

.local-search input {
    width: 100%
}

.local-search-results {
    min-height: 15em;
}

#local-search-results li {
    display: inline-block;
}

h1 {
    font-size: 1.8vw;
}

/* Fade-in of images */
/* This fixes the first load showing error-image bug. */

.local-dog-image {
    width: 100%;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s 0.5s, opacity 0.5s linear 0.5s;
}